#header{
    text-align: center;
    color: rgb(82, 82, 82);
    font-family: arial;
}

#header #titulo{
    background: rgb(206, 190, 190);
    color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 30px;
}

#header #parrafo-1{
    font-family: Georgia;
}
body {
    background: rgb(128, 128, 189);
}